<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Manager </title>
    <link rel="stylesheet" href="../view/css/common.css">
    <link rel="stylesheet" href="../view/css/input.css">
    <link rel="stylesheet" href="../view/css/auth.css">
    <style>
        
    body{
    background-image: url("../images/image2.jpg");
    background-color: #cccccc;
   }
       .top 
        {
            text-align: center;
        }
        .center 
        {
            text-align: center;
        }
    </style>
    <style>
        img{
            border-radius: 50%;
        }
    </style>
    </head>  
<body>
    <form name="addingcash" action="..//controller/add_cashier.php" onsubmit="return validateForm()" method="POST"style="display: inline-block;">

        <h1> Add Cashier </h1>
        <fieldset>
        <legend> Basic Information :</legend>
        <label for="fname"> First Name : * </label>
        <br>
        <input type="text" id="fname" name="fname" value="">
        <br><br>
        <label for="fname"> Last Name : * </label>
        <br>
        <input type="text" id="lname" name="lname" value="">
        <br><br>
        <label for="gender"> Gender : * </label>
        <br>
          <input type="radio" name="gender" value="male">
          <label for="Male">Male</label>
          <br>
          <input type="radio"  name="gender" value="female">
          <label for="Female">Female</label>
          <br><br>  
          <label for="DOB"> Date Of Birth : * </label>
          <br>
          <input type="date"  name="DOB">
          <br><br> 
          <label for="religion"> Religion : * </label>
          <br>
          <select id="religion" name="religion">
            <option value="" selected="selected" disabled="disabled"> Select One </option>
            <option value="Hinduism">Hinduism</option>
            <option value="Islam">Islam</option>
            <option value="Christianity">Christianity</option>
            <option value="Buddhism">Buddhism</option>
            <option value="Other">Other</option>
        </select>
    </fieldset>
    <br>
    <fieldset>
        <legend> Contact Information : </legend>
        <label for="praddress"> Present Address : * </label>
        <br>
        <textarea id="praddress" name="praddress" >
        </textarea>
        <br><br> 
        <label for="pmaddress"> Permanent Address : </label>
        <br>
        <textarea id="pmaddress" name="pmaddress" >
        </textarea><br>
        <label for="phone"> Phone : </label><br>
        <input type="tel" id="phone" name="phone" value="">
        <br><br>
        <label for="email"> Email : * </label><br>
        <input type="email" id="email" name="email" value="">
        <br><br>
        <label for="website"> Website : </label>
        <br>
        <input type="url" id="website" name="website" value="">
    </fieldset>
        <br>
        <fieldset>
            <legend> Credentials : </legend>
            <label for="username"> Username : * </label>
            <br>
            <input type="text" id="username" name="username" >
            </input>
            <br><br> 
            <label for="password"> Password : * </label>
            <br>
            <input type="password" id="password" name="password" >
            </input>
            <br>
        </fieldset>
        <br>
        <form action="../view/add_cashier.html"><input type="submit" value=" Submit "></form>
        <br><br>
        <form action="logout.html"><input type="submit" value="Logout" ></form>
      </input>
        <br><br> 
    
    </form> 
    <script src="js/add_cashier.js"></script>
    <form action="../view/cashier_dashboard.php"><input type="submit" value="Back" ></form>
</input>
<br>
</body>
</html>