<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../view/css/common.css">
    <link rel="stylesheet" href="../view/css/input.css">
    <link rel="stylesheet" href="../view/css/auth.css">
    <style>
        
    body{
    background-image: url("../images/image2.jpg");
    background-color: #cccccc;
   }
       .top 
        {
            text-align: center;
        }
        .center 
        {
            text-align: center;
        }
    </style>
    <style>
        img{
            border-radius: 50%;
        }
    </style>
</head>
<body>
<div class="center">
<form name="loginForm" action="../controller/login.php" onsubmit="return validateForm()" method="POST" style="display: inline-block;" >  
    <h1 class="top"> PHARMACY MANAGEMENT SYSTEM </h1>
    <hr>
	<br>
    <div class="center">
    <fieldset>
        <legend> Admin Login : </legend>
        <br>
        <div class="center">
        <label for="email">Username : </label>
        <br>
        <input type="text" id="username" name="username" >
        </input>
        <br><br> 
        </div>
        <div class="center">
        <label for="password">Password : </label>
        <br>
        <input type="password" id="password" name="password" >
        </input>
        <br>
        </div>
        </fieldset> 
        <br>
        <div class="center">
        <input type="submit" value="Login"><br>
        <br>
        </div>
        <div class="center">
        <a href="change_password.html">Change Password </a> 
        </div>
        <br>
        <div>
        <a href="forget_password.html">Forget Password ? </a> 
        </div>
        <br>
        <div>
        <a href="../controller/Homepage.php">Go Back to Home Page</a>
        </div>
</form>
<script src="js/login.js"></script>   
</body>
</html>