<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link rel="stylesheet" href="../view/css/common.css">
    <link rel="stylesheet" href="../view/css/input.css">
    <link rel="stylesheet" href="../view/css/auth.css">
    <style>
        
    body{
    background-image: url("../images/image2.jpg");
    background-color: #cccccc;
   }
       .top 
        {
            text-align: center;
        }
        .center 
        {
            text-align: center;
        }
    </style>
    <style>
        img{
            border-radius: 50%;
        }
    </style>
</head>
<body>
    <div class="center">
    <form action="../view/admin_dashboard.php" method="POST"style="display: inline-block;"></form>
    <h1 class="top"> PHARMACEUTICAL COMPANIES </h1>
    <hr>
    <h2>
        <div class="center">
        <a href="https://www.squarepharma.com.bd/"> SQUARE </a> 
        </div>
        <br>
        <div class="center">
        <a href="https://acme.com/"> ACME </a> 
        </div>
        <br>
        <div class="center">
        <a href="https://www.beximcopharma.com/"> BEXIMCO</a>
        </div> 
        <br>
        <div class="center"></div>
            <a href="https://www.aci-bd.com/aci-pharmaceuticals/"> ACI </a> 
            </div>
            <br>
            <div class="center">
            <a href="../view/admin_dashboard.php"> Back </a>
            </div>
        </h2>

</body>
</html>